body {
    
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .btn {
    width: 200px;
    border-radius: 20px;
   
  }


  .section {
    display: none; /* Initially hide all sections */
  }
  

